<div [formGroup]="form">
  <button (click)="addTransaction()">Add Transaction</button>
  <table>
    <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody appMoveFocus formArrayName="transactions">
      <tr
        *ngFor="let transaction of transactions.controls; let i = index"
        [formGroupName]="i"
      >
        <td *ngFor="let col of columns">
          <!-- <ng-container [ngSwitch]="col.field">
            <div *ngSwitchCase="'inception'">
              <input type="date" [formControlName]="col.field" />
            </div>
            <div *ngSwitchCase="'amount'">
              <input type="number" [formControlName]="col.field" />
            </div>
            <div *ngSwitchDefault> -->
          <input
            type="text"
            [readOnly]="col.isReadonly"
            [formControlName]="col.field"
          />
          <!-- </div>
          </ng-container> -->
        </td>
        <td>
          <button (click)="removeTransaction(i)">Delete</button>
          <button [disabled]="transaction.invalid" (click)="save(i)">
            Save
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
