<button (click)="addTransaction()">Add Transaction</button>
<div [formGroup]="form" style="overflow: auto">
  <table>
    <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody appMoveFocus formArrayName="transactions">
      <!-- TODO: add trackBy: trackByFn -->
      <tr
        *ngFor="let transaction of transactions.controls; let i = index"
        [formGroupName]="i"
      >
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="'number'">
              <input
                appInputArrowControl
                [type]="col.type"
                [readOnly]="col.isReadonly"
                [formControlName]="col.field"
              />
            </ng-container>
            <ng-container *ngSwitchDefault>
              <input
                [type]="col.type"
                [readOnly]="col.isReadonly"
                [formControlName]="col.field"
              />
            </ng-container>
          </ng-container>
        </td>
        <td>
          <div class="action-buttons">
            <button (click)="removeTransaction(i)">Delete</button>
            <button
              [disabled]="transaction.invalid || !transaction.dirty"
              (click)="save(i)"
            >
              Save
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
