<div [formGroup]="form">
  <button (click)="addTransaction()">Add Transaction</button>
  <table>
    <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody appMoveFocus formArrayName="transactions">
      <tr
        *ngFor="
          let transaction of transactions.controls;
          let i = index;
          trackBy: trackByFn
        "
        [formGroupName]="i"
      >
        <td *ngFor="let col of columns">
          <input
            [type]="col.type"
            [readOnly]="col.isReadonly"
            [formControlName]="col.field"
          />
        </td>
        <td>
          <button (click)="removeTransaction(i)">Delete</button>
          <button
            [disabled]="transaction.invalid || !transaction.dirty"
            (click)="save(i)"
          >
            Save
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
